

body
{
h1{
    color: grey;
    font-style: italic;
    font-size: 3rem;
}
background-color: antiquewhite;
}
.navigation
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}
.menu
{
display: flex;
justify-content: space-between;
}
.menu li a
{
padding: 3px 10px;
margin: 0px 15px;
color:gray;
font-weight: 500;
letter-spacing: 0.5px;
}
.logo{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
    font-style: italic;

}
.logo span{
    color: green;
    font-style: normal;
}
.menu li a:hover,
menu.active{
    color: mediumaquamarine;
    transition: all ease 0.3s;
}
.search{
    padding: auto;
    background-color: antiquewhite;
    color: black;
}
#search-banner{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    margin: 10px auto;
}


.right-nav{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}
.right-nav a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.right-nav .like{
background-color: black;
color:antiquewhite
}
.right-nav .cart{
    background-color: black;
    color: antiquewhite;
}
.right-nav .Login{
    width: auto;
    height: 40px;
    border-radius: 30px;
    background-color: black;
    border: none;
    color: antiquewhite;
    outline: none;
    }
    .right-nav .register{
        width: auto;
    height: 40px;
    border-radius: 30px;
    background-color: black;
    border: none;
    color: antiquewhite;
    outline: bisque;
    }
#category{
    display: flexbox;
    flex-direction: column;
    max-width: 1000px;
    background-color: antiquewhite;
}
.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    background-color: antiquewhite;
}
.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.category-box img{
    height: 100px;
    width: 150;
    object-fit: contain;
    object-position: center;
}
.category-box span{
    color: black;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: normal: 0.3px;
    font-weight: 600;
}
.category-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}
<!---products--->
#products{
    display: flexbox;
    flex-direction: column;
    max-width: 1000px;
    background-color: antiquewhite;
}
.products-heading{
    background-color: antiquewhite;
}
.products-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    background-color: antiquewhite;
}
.products-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.products-box img{
    height: 100px;
    width: 150;
    object-fit: contain;
    object-position: center;
}
.products-box span{
    color: black;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: normal: 0.3px;
    font-weight: 600;
}
.products-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}
#our-products{
    display: flexbox;
    flex-direction: column;
    max-width: 1000px;
    background-color: antiquewhite;
}
.our-products-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    background-color: antiquewhite;
}
.our-products-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.our-products-box img{
    height: 100px;
    width: 150;
    object-fit: contain;
    object-position: center;
}
.our-products-box span{
    color: black;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: normal: 0.3px;
    font-weight: 600;
}
.our-products-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}
#our-blog{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
.our-blog-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    background-color: antiquewhite;
}
.our-blog-box h3{
    color: black;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: normal: 0.3px;
    font-weight: 600;
}
#client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    padding: 80px 0px;
    margin: 10px 0px;

}
.client-heading h2{
        color: rgb(63, 61, 61);
        font-size: 1.56rem;
        margin-top: 20px;
        letter-spacing: normal: 0.3px;
        font-weight: 600;
}
.client-box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    border-color: wheat;
    padding: 80px 0px;
    border-top: 1px solid wheat;
    border-bottom: 1px  solid wheat;
    background-color: antiquewhite;
}
.client-box{
    background-color: antiquewhite;
    padding: 30px 20px;
    border: 1px solid antiquewhite;
    box-shadow: 2px 2px 50px black;
    border-radius: 0px 20px 0px 30px;
}
.client-box-1{
    background-color: antiquewhite;
    padding: 30px 20px;
    border: 1px solid antiquewhite;
    box-shadow: 2px 2px 50px black;
    border-radius: 0px 20px 0px 30px;
}
.client-box-2{
    background-color: antiquewhite;
    padding: 30px 20px;
    border: 1px solid antiquewhite;
    box-shadow: 2px 2px 50px black;
    border-radius: 0px 20px 0px 30px;
}
footer{
    background-color: #1b1d1f;
    padding: 50px 20px;
    border-top: 5px solid antiquewhite;
}
.footer-logo a{
    color: antiquewhite;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.footer-social{
    display: flex;
    margin-top: 10px;
}
.footer-social a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    border: 1px solid #ffffff15;
    font-size: 1.1rem;
    margin: 0px 5px;
}
.about{
    color: antiquewhite;
}
.contact{
    color: bisque;
}
.email{
    color: antiquewhite;
}